body {
    background-color: olivedrab;
    cursor: crosshair;
}
h1 {
    color: black;
    text-align: center;
    font-family: cursive;
}
h2 {
    text-align: center;
}
h3 {
    color: white;
    text-align: center;
}
.picture{
    text-align: center;
}
img{
    border: 3px solid white;
    max-width: 300px;
    max-height: 300px;
    object-fit: contain;
}
.contact-info{
    text-align: center;
}